header {
  padding-block: 1rem;
  background-color: var(--clr-blue-500);
}

.hambuger {
  z-index: 1;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: min(90%, 1400px);
  margin-inline: auto;
}

.nav__menu {
  position: absolute;
  width: 100%;
  justify-items: center;
  display: grid;
  background-color: var(--clr-blue-500);
  list-style: none;
  padding-block: 1rem;
  gap: 2rem;
  border-radius: 10px;
  transform: translate(0%, -150%);
  transition: transform 300ms ease-in-out;
}

.nav__menu.open {
  transform: translate(0%, 90%);
  z-index: 10;
}

.logo {
  color: #fff;
  text-decoration: none;
}

.logo span {
  font-family: var(--ff-cursive);
  font-size: 3rem;
  font-weight: 700;
}

.nav__link {
  display: flex;
  font-size: 1.3rem;
  align-items: center;
  gap: 0.5rem;
  color: #fff;
  text-decoration: none;
}

.nav__link.active {
  color: var(--clr-blue-700);
}

@media screen and (min-width: 768px) {
  .hambuger {
    display: none;
  }

  .navBar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: min(90%, 1400px);
    margin-inline: auto;
  }

  .nav__menu {
    position: unset;
    width: unset;
    justify-items: center;
    display: flex;
    background-color: transparent;
    list-style: none;
    padding-block: unset;
    gap: 2rem;
    transform: translateY(0);
  }
}
